.Reveal {
  view-transition-name: skeleton-overlay;
  inline-size: 100%;
  max-inline-size: 22rem;
}

.Media {
  display: block;
  inline-size: 100%;
  block-size: 8rem;
  border-radius: var(--radius-m);
}
